.body {
  background: url("https://static.vecteezy.com/system/resources/thumbnails/004/709/149/small/grey-white-abstract-background-geometry-shine-and-layer-element-for-presentation-design-suit-for-business-corporate-institution-party-festive-seminar-and-talks-vector.jpg");
  background-repeat: no-repeat;
  background-size: 1600px 900px;
}
